<!DOCTYPE html>

<html>

<head>
    <title>Registrar-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h1 style="color: black; text-align: center;">Registrar-se</h1>

    <div style="text-align: center;">
        <label for="register_username">Nome de usuário:</label>
        <input type="text" name="register_username" id="register_username" required>
        <br>
        <br>
        <label for="register_password">Senha:</label>
        <input type="password" name="register_password" id="register_password" required>
        <br>
        <br>
        <label for="register_password_2">Repita a senha:</label>
        <input type="password" name="register_password_2" id="register_password_2" required>
        <br>
        <br>
        <input type="submit" value="Realizar registro">
    </div>

</body>

</html>