<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Siath Home</title>
    </head>

    <body>
        <h1 style="color: black; text-align: center;">Bem vindo ao Siath! Bem vindo</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="login/"><h1 style="text-align: center;">Fazer login</h1></a>
        <br>
        <br>
        <a href="register/"><h1 style="text-align: center">Registrar-se</h1></a>
    </body>

</html>